
<div class="card">
    <div class="card-body text-center">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
 
        <div>well tình hình chúng ta sẽ custome trang web theo format này</div>
        <div>Hình ảnh sản phẩm sẽ hiển thị ở đây</div>
        <div>Mấy ông tìm hiểu qua rồi làm</div>
        <div>Nhiệm vụ của <b>Front end</b> chủ yếu sẽ làm mấy cái này</div>
        <div>Chắc sẽ có một buổi tui hướng dẫn mấy ông về flow của web</div>

        <a href="#" class="btn btn-primary">Go back home</a>
        
    </div>
</div>

