<!DOCTYPE html>
<html>
    <head>
        <title>TRANG_20127361</title>
        <meta charset = "utf-8">
        <style>
           
            *
            {
                margin: 0;
                padding: 0;
            }

            h1
            {
                color: brown;
                text-align: center;
            }

            html, body
            {
                background-color: rgb(133, 197, 184);
            }

            
        </style>
    </head>
    <body>
        <div class = "box">
            <h1>Hello HTML</h1>
            <p><a href="https://www.facebook.com/trang.nguyenngocdieu.18/">FACEBOOK: NGUYỄN NGỌC DIỆU TRANG</a></p>
            <img src="https://i.pinimg.com/564x/3b/b3/e0/3bb3e0ba35a02c6c173e1e704770bb97.jpg" >
        </div>

        
    </body>
</html>